# Archivos de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Binarios y compilados
bin/
obj/
debug/

# Paquetes NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json

# Archivos de publicación
publish/
*.Publish.xml

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.bak
*.old

# Configuración de Rider o VS Code (opcional)
.idea/
.vscode/
